body {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  background: black;
  height: 600px;
  justify-content: space-between;
  align-items: space-between;
}

.box {
  height: 100px;
  width: 100px;
  background: purple;
  border: solid 1px black;
}

.box2 {
  height: 100px;
  width: 300px;
  background: rgb(241, 14, 241);
  border: solid 1px black;
}
.box3 {
  height: 100px;
  width: 400px;
  background: rgb(100, 103, 69);
  border: solid 1px black;
}

.box4 {
  height: 100px;
  width: 100px;
  background: pink;
  border: solid 1px black;
}

.box5 {
  height: 100px;
  width: 200px;
  background: rgb(143, 185, 18);
  border: solid 1px black;
}
